body{
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  /*font-family: Avenir;*/
}

*{
  font-family: Avenir;
  color: #E05151;
  border: none!important;
}

body, html, .fullPage {
  height: 100%;
  font-family: Avenir light;
}
/*Nav Bar*/
.header{
  color: white;
  text-align: center;
  background-color: #333333;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-flow: space-around;
  justify-content: space-between;
}

.name{
  font-size: 30px;
  margin: 0 0 0 .5em;
  color: #E05151;
}

.header a{
  text-decoration: none;
}

.nameA {
  font-family: Avenir!important;
}

.headerItems{
  color: #E05151;
}

.name:hover{
  color: white;
}

#list:hover{
  color: white;
}

li {
  display: inline-block;
  list-style: none;
  padding: .3em;
  font-size: 18px;
}

/*Main*/
.main{
  padding-top: 13em;
  background-color: #333333;
  padding-bottom: 1em;
  text-align: center;
  color: #E05151;
  height: 76%;
  font-family: Avenir;
}

#me{
  border-radius: 20em;
  padding-bottom: .5em;
}

.blurb{
  font-family: Avenir;
  line-height: 20px;
}
/*Main: Bouncing Arrow*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

@keyframes bounce-down {
  0% { opacity: 0; transform: translateY(-20px); }
  50% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(5px); }
}
.icon-font {
  font-size: 100px;
  padding: .125em 0;
  /*color: indigo;*/
  text-decoration: none;
  text-align: center;
  display: block;
  position: absolute;
  margin-left: 6.9em;
  bottom: 0;
}
.is-loaded .icon-font {
  animation: bounce-down 1.5s infinite;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.is-loaded :target {
  animation: highlight 1s ease;
}
@keyframes highlight {
  0% { background-color: indigo; }
  100% { background-color: white; }
}

/*About*/
.aboutMe{
  /*z-index: 1;*/
  background-color: white;
  height: 93%;
  border: 2px solid orange;
}

.aboutContainer{
  padding-top: 11%;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

.aboutItem1, .aboutItem2, .aboutItem3{
  position: relative;
  align-self: auto;
  padding: 0 2%;
  width: 28%;
  text-align: center;
}

.logo{
  width: 30em;
  height: 30em;
}

.logo:hover{
  -webkit-transform:scale(1.25); /* Safari and Chrome */
  -moz-transform:scale(1.25); /* Firefox */
  -ms-transform:scale(1.25); /* IE 9 */
  -o-transform:scale(1.25); /* Opera */
  transform:scale(1.25);

}

/*Resume*/
.details{
  float: left;
  margin-left: 0;
  color: #333333 !important;
}
.resume{
  padding-left: 33em;
  background-color: #E05151;
  height: 93%;
  border: 2px solid blue;
}
.resume:hover{
}

/*Portfolio*/
.portfolioContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 93%;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  background-color: #333333;
  /*margin: 0 auto;*/
  text-align: center;
  position: relative;
}

.portfolioContainer div {
  background-color: #333333;
  width: 100%;
  height: 93%;
  display: inline-block;
  display: none;
  /*z-index: 0;*/
}

.next, .prev{
  background: none;
  z-index: 1;
  position: absolute;
  margin-top: 25%;
  /*background: none;*/
  width: 7em;
  height: 7em;
  cursor: pointer;
  z-index: 1;
}

.next {
  float: right;
  right: .5em;
}

.prev {
  left: .5em;
}

.next img, .prev img{
  max-height: 100%;
  max-width: 100%;
}

.slides{
  /*padding-top: 11%;*/
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}

.slides section{
  position: relative;
  align-self: auto;
  height: 100%;
  text-align: left;
}

.slideMain{
  display: flex;
  flex-flow: row wrap;
  margin-left: 8%;
  justify-content: space-around;
}

#mainP{
  width: 80%;
  float: left;
  margin-left: 6em;
}

#mainP img{
  height: 300px;
  width: 300px;
  padding: 2%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
/*
.slide1Main:hover{
  content: url(./../images/slide1B.png);
}

.slide2Main:hover{
  content: url(./../images/slide2B.png);
}

.slide3Main:hover{
  content: url(./../images/slide3B.png);
}

.slide4Main:hover{
  content: url(./../images/slide4B.png);
}

.slide5Main:hover{
  content: url(./../images/slide5B.png);
}

.slide6Main:hover{
  content: url(./../images/slide6B.png);
}*/
/*.card-container {
  cursor: pointer;
  perspective: 600;
  position: relative;
  width: 300px;
  padding: 2%;
  height: 300px;
}

.card {
  height: 300px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 300px;
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.card .back {
  background: transparent;
  color: #F0A800;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}*/

.slides{
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leftP{
  width: 30%;
  padding-left: 7em;
  float: left;
  margin-left: 6em;
  z-index: 999;
}

.leftP img{
  margin-left: 1em;
  width: 300px;
  height: 300px;
}

.sectionTop{
  max-height: 300px;
  max-width: 300px;
  z-index: 999;
}

.imgTop{
  margin-top: 3em;
  border-radius: .3em;
  transition: all 0.5s;
}

.imgTop:hover{
  transition: all 0.5s;
  max-height: 650px;
}

.sectionBtm {
  max-width: 300px;
  max-height: 300px;
  z-index: 1;
  /*margin-top: 2em;*/
}

.rightP{
  width: 50%;
  float: right;
  margin-right: 6em;
  z-index: 1;
}

.rightPTop{
  max-height: 80%;
  /*background-color: orange;*/
}

.rightP h3, .rightPTop h3{
  color: white;
  text-align: center;
  font-family: Avenir;
}

.rightP p, .rightPTop p, .rightPBtm p{
  font-size: 20px;
}

.rightPBtm{
  max-height: 15%;
  display: inline;
}

.rightPBtm p {
  float: left;
}

.portfolioGit{
  padding-left: 2em;
  z-index: 2;
}

.backToMain{
  height: 100px;
  width: 100px;
  float: right;
  cursor: pointer;
}

/*Contact*/
.contact{
  background-color: white;
  height: 81.5%;
}

legend{
  font-size: 25px;
}
.email_form{
  margin: 3em auto;
  padding-top: 3em;
  width: 40%;
  color: #F3843E;
  text-align: center;
  margin-top: 6em;
}

/* button */
#wrap{
  text-align:center;
}
.btn {
-webkit-border-radius: 2px;
border-radius: 2px;
cursor: default;
font-size: 11px;
font-family: 'Open Sans', Helvetica, Arial, 'Liberation Sans', sans-serif;
font-weight: bold;
text-align: center;
margin-right: 16px;
height: 27px;
line-height: 27px;
min-width: 54px;
outline: 0;
padding: 0 8px;
-webkit-box-shadow: none;
box-shadow: none;
background-color: #E05151;
background-image: -webkit-linear-gradient(top,#E05151);
background-image: linear-gradient(top,#E05151);
border: 1px solid #333333;
color: #333333;
}

.btn:hover {
-webkit-box-shadow: none;
box-shadow: none;
background-color: #E05151;
background-image: -webkit-linear-gradient(top,#333333,#333333);
background-image: linear-gradient(top,#333333,#333333);
border: 1px solid #33;
border-bottom-color: #E05151;
color: #E05151;
}

/*Follow*/
.followMe{
  margin-left: 40.5em;
  margin-top: 2em;
}
#social{
  display: inline-block;
  width: 100%;
}

a.a{
  margin-left: -2em;
  margin-right: -2em;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  transition: all 250ms ease-in-out;
}

#linkedin, #github, #facebook, #twitter, #email{
  display: inline-block;
  font-size: 0;
/*  text-align: center;*/
  width: 30%;  /* Container's dimensions */
  height: 30%;
}
#linkedin:hover, #github:hover, #facebook:hover, #twitter:hover, #email:hover{
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-bottom: 5px;
}

.top{
  position: fixed;
  bottom: 1em;
  right: 2em;
  height: 35px;
  width: 35px;
}
