@import url(http://weloveiconfonts.com/api/?family=fontawesome);
body {
  background: white;
  color: black;
  margin: 0;
  padding: 0; }

* {
  font-family: Avenir;
  color: #E05151; }

body, html, .fullPage {
  height: 100%; }

/*Nav Bar*/
.header {
  color: white;
  text-align: center;
  background-color: #333333;
  width: 100%;
  top: 0px;
  position: fixed;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-flow: space-around;
  justify-content: space-between; }

.name {
  font-size: 30px;
  margin: 0 0 0 .5em;
  color: #E05151; }

a {
  text-decoration: none;
  border: 0; }

.headerItems {
  color: #E05151; }

.name:hover {
  color: white; }

#list:hover {
  color: white; }

/*.name .headerItems{
  color: #E05151;
  margin: .5em 1em;
}*/
li {
  display: inline-block;
  list-style: none;
  padding: .5em;
  font-size: 18px; }

/*Main*/
.main {
  padding-top: 13em;
  background-color: #333333;
  padding-bottom: 1em;
  text-align: center;
  color: #E05151;
  height: 75.5%; }

#me {
  border-radius: 20em;
  padding-bottom: .5em; }

.blurb {
  font-family: Avenir;
  line-height: 20px; }

/*Main: Bouncing Arrow*/
@keyframes bounce-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  50% {
    opacity: 1;
    transform: translateY(0); }
  100% {
    opacity: 0;
    transform: translateY(5px); } }
.icon-font {
  font-size: 100px;
  padding: .125em 0;
  /*color: indigo;*/
  text-decoration: none;
  text-align: center;
  display: block;
  position: absolute;
  margin-left: 6.9em;
  bottom: 0; }

.is-loaded .icon-font {
  animation: bounce-down 1.5s infinite; }

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif; }

.is-loaded :target {
  animation: highlight 1s ease; }

@keyframes highlight {
  0% {
    background-color: indigo; }
  100% {
    background-color: white; } }
/*About*/
.aboutMe {
  z-index: -1;
  background-color: white;
  height: 90.8%;
  border: 2px solid orange; }

.logo {
  background-image: url("./../images/favicon.png");
  width: 100px;
  height: 100px; }

/*Resume*/
.resume {
  /*z-index: 10;*/
  background-color: #E05151;
  height: 90.8%;
  border: 2px solid blue; }

/*Portfolio*/
.portfolio {
  /*z-index: 10;*/
  background-color: #333333;
  height: 90.8%;
  border: 2px solid green; }

/*Contact*/
.contact {
  background-color: white;
  height: 90.8%;
  border: 2px solid yellow; }

.email_form {
  margin: 1.5em auto;
  width: 40%;
  color: #F3843E;
  text-align: center; }

/*Follow*/
.followMe {
  margin-left: 40.5em; }

#social {
  display: inline-block;
  margin-bottom: 2em;
  width: 100%; }

a.a {
  margin-left: -2em;
  margin-right: -2em;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  transition: all 250ms ease-in-out; }

#linkedin, #github, #facebook, #twitter, #email {
  display: inline-block;
  font-size: 0;
  /*  text-align: center;*/
  width: 30%;
  /* Container's dimensions */
  height: 30%; }

#linkedin:hover, #github:hover, #facebook:hover, #twitter:hover, #email:hover {
  display: inline-block;
  vertical-align: middle;
  margin-top: -5px;
  margin-bottom: 5px; }

.top {
  position: fixed;
  bottom: 1em;
  right: 2em;
  height: 35px;
  width: 35px; }

/*# sourceMappingURL=main.css.map */
